{% extends 'base.html' %}
{% block content %}


<div class="container my-3">
    <table class="table">
        <thead>
        <tr class="thead-dark">
            <th>번호</th>
            <th>이름</th>
            <th>만료일자</th>
            <th>상태</th>
        </tr>
        </thead>
        <tbody>
        {% if locker_list %}
        {% for locker in locker_list %}
        <tr>



            <td>
                <a href="{% url 'bowl:detail' locker.id %}">{{ locker.subject }}</a>
            </td>



            <td>
                <a href="{% url 'bowl:detail' locker.id %}">{{ locker.name }}</a>
            </td>



            <td>
                {{ locker.expiration_date }}
            </td>

            <td>
                {% if locker.expiration_date == None %}
                 ⚪ 사용가능
                {% elif locker.is_past_due %}
                 🔴 연장필요
                {% else %}
                 🔵 사용중
                {% endif %}
            </td>




        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="3">질문이 없습니다.</td>
        </tr>
        {% endif %}
        </tbody>
    </table>
</div>



{% endblock %}
