{% extends 'base.html' %}
{% block content %}


<div class="container my-3">

    <div class="row justify-content-end my-3">
        <div class="col-4 input-group">
            <input type="text" class="form-control kw" value="{{ kw|default_if_none:'' }}">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="btn_search">찾기</button>
            </div>
        </div>
    </div>

    <table class="table">
        <thead>
        <tr class="thead-dark">
            <th>번호</th>
            <th>이름</th>
            <th>만료일자</th>
            <th>상태</th>
        </tr>
        </thead>
        <tbody>
        {% if locker_list %}
        {% for locker in locker_list %}
        <tr>



            <td>
                <a href="{% url 'bowl:detail' locker.id %}">{{ locker.subject }}</a>
            </td>



            <td>
                <a href="{% url 'bowl:detail' locker.id %}">{{ locker.name }}</a>
            </td>



            <td>
                {{ locker.expiration_date }}
            </td>

            <td>
                {% if locker.expiration_date == None %}
                 ⚪ 사용가능
                {% elif locker.is_past_due %}
                 🔴 연장필요
                {% else %}
                 🔵 사용중
                {% endif %}
            </td>





        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="3">질문이 없습니다.</td>
        </tr>
        {% endif %}
        </tbody>
    </table>

      <!-- 페이징처리 시작 -->
    <ul class="pagination justify-content-center">
        <!-- 이전페이지 -->
        {% if locker_list.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ locker_list.previous_page_number }}">이전</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
        </li>
        {% endif %}
        <!-- 페이지리스트 -->
        {% for page_number in locker_list.paginator.page_range %}
            {% if page_number == locker_list.number %}
            <li class="page-item active" aria-current="page">
                <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
            </li>
            {% endif %}
        {% endfor %}
        <!-- 다음페이지 -->
        {% if locker_list.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ locker_list.next_page_number }}">다음</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
        </li>
        {% endif %}
    </ul>
    <!-- 페이징처리 끝 -->

</div>
<form id="searchForm" method="get" action="{% url 'index' %}">
    <input type="hidden" id="kw" name="kw" value="{{ kw|default_if_none:'' }}">
    <input type="hidden" id="page" name="page" value="{{ page }}">
</form>


{% endblock %}
{% block script %}
<script type='text/javascript'>
$(document).ready(function(){
    $(".page-link").on('click', function() {
        $("#page").val($(this).data("page"));
        $("#searchForm").submit();
    });

    $("#btn_search").on('click', function() {
        $("#kw").val($(".kw").val());
        $("#page").val(1);  // 검색버튼을 클릭할 경우 1페이지부터 조회한다.
        $("#searchForm").submit();
    });
});
</script>
{% endblock %}