{% extends 'base.html' %}
{% block content %}



<div class="container my-3">
    <h2 class="border-bottom py-2">{{ locker.subject }}</h2>

    <div class="card my-3">
        <div class="card-body">
            <h3 class="card-title">{{ locker.name }}</h3>


            <div class="card">
                <div class="card-body">
                  <div> <span class="badge badge-pill badge-dark">클럽</span> </div>
                     {{ locker.club }}
                    </div>
                </div>

            <div class="card">
                <div class="card-body">
                  <div> <span class="badge badge-pill badge-dark">전화번호</span> </div>
                     {{ locker.phone_number }}
                    </div>
                </div>


            <div class="card">
                <div class="card-body">
                  <div>  <span class="badge badge-pill badge-dark">사용기간</span> </div>
                    <mark> {{ locker.effective_date }} </mark> 부터 <mark>{{ locker.expiration_date }}</mark> 까지


                    {% if request.user.is_superuser %}
                    <div class="my-3">
                        <a href="{% url 'bowl:locker_extend' locker.id  %}"
                              class="btn btn-sm btn-outline-secondary">연장</a>
                    </div>
                    {% endif %}



                    </div>
            </div>

        </div>
    </div>
</div>



{% endblock %}


